.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f7fafc;
  border-right: 1px solid #e2e8f0;
  overflow-y: auto;
}

.content {
  flex: 1;
  width: auto;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto;
}

.linkButton {
  border-radius: 12px;
}