.button {
  background-color: #222;
  color: white;
  border: 1px solid #444;
  padding: 8px 16px;
  cursor: pointer;
}

.input {
  border: 1px solid #444;
  padding: 6px;
  color: white;
  background-color: #222;
}
